﻿@using healthyGym.Enums;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_owner_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>Username <small id="user_name_error" style="display:none;" class="badge badge-danger"> <i class="lni lni-close"></i> username already taken</small><small id="user_name_valid" class="badge badge-success" style="display:none;"><i class="lni lni-checkmark"></i> valid username</small></label>
                                <input required name="user_name" id="user_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Password</label>
                                <input required name="password" id="password" type="text" class="form-control radius-30" />
                            </div>
                            @*<div class="form-group col-md-6">
                                <label>Code <small id="code_error" style="display:none;" class="badge badge-danger"> <i class="lni lni-close"></i> code already taken</small><small id="code_valid" class="badge badge-success" style="display:none;"><i class="lni lni-checkmark"></i> valid code</small></label>
                                <input required name="code" id="code" type="text" class="form-control radius-30" />
                            </div>*@
                            <div class="form-group col-md-6">
                                <label>Full Name</label>
                                <input required name="full_name" id="full_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="text" name="email" id="email" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone1</label>
                                <input type="text" name="phone1" id="phone1" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone2</label>
                                <input type="text" name="phone2" id="phone2" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Address1</label>
                                <input type="text" name="address1" id="address1" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Address2</label>
                                <input type="text" name="address2" id="address2" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>National Id</label>
                                <input type="text" name="id_no14" id="id_no14" class="form-control radius-30" />
                            </div>
                            @*<div class="form-group col-md-6">
                                <label>Experience</label>
                                <input type="text" name="experience" id="experience" class="form-control radius-30" />
                            </div>*@
                            <div class="form-group col-md-6">
                                <label>Notes</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="image" name="image" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <img id="imageProfile" src="" width="100" height="100" />
                            </div>
                            <div class="form-group col-md-12">
                                    @Html.DropDownList("gym_id", new SelectList(ViewBag.gyms, "id", "name"), "Select Gym", new { @class = "form-control", @name = "gym_id", @id = "gym_id", @required = "required" })
                            </div>
                                @*<div class="form-group col-md-12">
                                    @Html.DropDownList("branch_id", new SelectList(ViewBag.branchs, "id", "name"), "Select Branch", new { @class = "form-control", @name = "branch_id", @id = "branch_id", @required = "required" })
                                </div>*@
                            <div class="form-group col-md-6">
                                <select class="form-control" name="gender" id="gender">
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>

                            @*<div class="form-group col-md-6">
                                <select class="form-control" name="type" id="type">
                                    <option value="3">Manager</option>
                                    <option value="4">Staff</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.DropDownList("staff_role_id", new SelectList(ViewBag.staffRoles, "id", "role"), "Select Role", new { @class = "form-control", @name = "staff_role_id", @id = "staff_role_id" })
                            </div>*@

                            <div class="form-group col-md-6">
                                <select class="form-control" name="active" id="active">
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="save" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Owner</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Owners</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_owner">Add Owner</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            @*<div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
                </div>
                <div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
                </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="ownerTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Gym</th>
                        <th>Username</th>
                        <th>Full Name</th>
                        @*<th>Role</th>*@
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Created at</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#ownerTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index","Owner")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "gym_name",
                            "searchable": true
                        },
                        {
                            "data": "user_name",
                            "searchable": true
                        },
                        {
                            "data": "full_name",
                            "searchable": true
                        },
                        //{
                        //    "data": "type", "searchable": true,
                        //    fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                        //        console.log(oData.type);
                        //        if (oData.type == 3)
                        //            $(nTd).html("<span class='action-column'>Manager</span>");
                        //        else if (oData.type == 4)
                        //            $(nTd).html("<span class='action-column'>Staff, " + oData.roleName + "</span>");
                        //        else
                        //        $(nTd).html("<span class='action-column'>Not Selected</span>");
                        //    }
                        //},
                        { "data": "email", "searchable": true },
                        { "data": "address1", "searchable": true },
                        { "data": "phone1", "searchable": true },
                        {
                            "data": "created_at", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<span class='action-column'>" + oData.created_at.split(' ')[0] + "</span>");
                            }
                        },
                        {
                            "data": "active", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.active==1)
                                    html += "<span class='badge badge-primary'>Yes</span>";
                                else
                                    html += "<span class='badge badge-danger'>No</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' id='" + oData.id + "' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                if (oData.id != @Session["id"])
                                html += "<a class='delete' id='" + oData.id + "' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#date-form").val());
                datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

            $('#date-form').bootstrapMaterialDatePicker({
                time: false
            });

            $('#date-to').bootstrapMaterialDatePicker({
                time: false
            });

            $("#add_owner").click(function () {
                var modal = $('#manage_owner_modal').clone();
                var action = '@Url.Action("saveOwner","Owner")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Add Owner');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        $(document).on('keyup', '#user_name', function () {
                            var user_name = dialog.find('#user_name').val().length != 0 ? dialog.find('#user_name').val() : null;
                            if (user_name != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkUsernameAvailability", "Staff")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "user_name": user_name
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {

                                            dialog.find('#user_name_error').show();
                                            dialog.find('#user_name_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#user_name_error').hide();
                                            dialog.find('#user_name_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                        }


                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#user_name_error').show();
                                dialog.find('#user_name_valid').hide();
                                dialog.find('#save').prop('disabled', true);

                            }

                        });
                        //code
                        @*$(document).on('keyup', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCodeAvailability", "Staff")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }
                        });*@

                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_owner_modal').clone();
                var action = '@Url.Action("saveOwner", "Owner")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Owner');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        console.log(data);
                        dialog.find('#id').val(data.id);
                        //dialog.find('#code').val(data.code);
                        dialog.find('#user_name').val(data.user_name);
                        dialog.find('#full_name').val(data.full_name);
                        dialog.find('#password').val(data.password);
                        dialog.find('#email').val(data.email);
                        dialog.find('#phone1').val(data.phone1);
                        dialog.find('#phone2').val(data.phone2);
                        dialog.find('#address1').val(data.address1);
                        dialog.find('#address2').val(data.address2);
                        dialog.find('#experience').val(data.experience);
                        dialog.find('#id_no14').val(data.id_no14);
                        dialog.find('#note').val(data.note);
                        dialog.find('#image').val(data.image);
                        dialog.find('#imageProfile').attr('src',data.imagePath);
                        dialog.find('#active option[value=' + data.active + ']').attr('selected', 'selected');
                        dialog.find('#gender option[value=' + data.gender + ']').attr('selected', 'selected');
                        //dialog.find('#type option[value=' + data.type + ']').attr('selected', 'selected');
                        dialog.find('#gym_id option[value=' + data.gym_id + ']').attr('selected', 'selected');
                        //dialog.find('#branch_id option[value=' + data.branch_id + ']').attr('selected', 'selected');
                        //dialog.find('#staff_role_id option[value=' + data.staff_role_id + ']').attr('selected', 'selected');

                        $(document).on('keyup', '#user_name', function () {
                            var user_name = dialog.find('#user_name').val().length != 0 ? dialog.find('#user_name').val() : null;
                            if (user_name != null) {

                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkUsernameAvailability", "Staff")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "user_name": user_name
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {

                                            dialog.find('#user_name_error').show();
                                            dialog.find('#user_name_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#user_name_error').hide();
                                            dialog.find('#user_name_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                        }


                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });

                            } else {
                                dialog.find('#user_name_error').show();
                                dialog.find('#user_name_valid').hide();
                                dialog.find('#save').prop('disabled', true);

                            }
                        });
                        @*//code
                        $(document).on('keyup', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCodeAvailability", "Staff")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);
                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }
                        });*@

                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this owner ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteOwner", "Owner")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}
