﻿@model healthyGym.ViewModel.ProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //DateTime dt = DateTime.ParseExact(Model.birthDate.ToString(), "MM/dd/yyyy hh:mm:ss tt", CultureInfo.InvariantCulture);
}

<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Profile</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    @*<div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
        </div>
    </div>*@
</div>
<div class="user-profile-page">
    <div class="card radius-15">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-7 border-right">
                    <div class="d-md-flex align-items-center">
                        <div class="mb-md-0 mb-3">
                            <img src="@Model.imagePath" class="rounded-circle shadow" width="130" height="130" alt="" />
                        </div>
                        <div class="ml-md-4 flex-grow-1">
                            <div class="d-flex align-items-center mb-1">
                                <h4 class="mb-0">@Model.full_name</h4>
                                <p class="mb-0 ml-auto"></p>
                            </div>
                            @*<p class="text-primary" class="badge badge-success"> @Model.code</p>*@
                            @*<p class="mb-0 text-muted">Sr. Web Developer</p>
                        <p class="text-primary"><i class='bx bx-buildings'></i> Epic Coders</p>
                        <button type="button" class="btn btn-primary">Connect</button>
                        <button type="button" class="btn btn-outline-secondary ml-2">Resume</button>*@   
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <table class="table table-sm table-borderless mt-md-0 mt-3">
                        <tbody>
                            <tr>
                                <th>Availability:</th>
                                <td>
                                    @if (Model.active == 1) { <span class="badge badge-success">Active</span>} else { <span class="badge badge-danger"> In Active</span>}
                                </td>
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.birthDate.ToString()))
                            {
                                <tr>
                                    <th>BirthDate:</th>
                                    <td>@Model.birthDate.ToString().Split(' ')[0]</td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.phone1) || !string.IsNullOrEmpty(Model.phone2))
                            {
                                <tr>
                                    <th>Phone:</th>
                                    <td>@Model.phone1 
                                    @if (!string.IsNullOrEmpty(Model.phone2))
                                    {
                                        <span>, @Model.phone2</span>
                                    }

                                    </td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.address1) || !string.IsNullOrEmpty(Model.address2))
                            {
                                <tr>
                                    <th>Address:</th>
                                    <td>@Model.address1
                                    @if (!string.IsNullOrEmpty(Model.address2))
                                    {
                                        <span>, @Model.address2</span>
                                    }
                                    </td>
                                </tr>
                            }
                            
                            @if (!string.IsNullOrEmpty(Model.email))
                            {
                                <tr>
                                    <th>BirthDate:</th>
                                    <td>@Model.birthDate.ToString().Split(' ')[0]</td>
                                </tr>
                            }
                            <tr>
                                <th>Gender:</th>
                                <td>
                                    @if (Model.gender == 1)
                                    {
                                        <span>Male</span>
                                    }
                                    else
                                    {
                                        <span>Female</span>
                                    }
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    @*<div class="mb-3 mb-lg-0">
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-github'></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-twitter'></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-facebook'></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-linkedin'></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-dribbble'></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class='bx bxl-stack-overflow'></i></a>
                </div>*@
                </div>
            </div>
            <!--end row-->
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Subscribtion"><span class="p-tab-name">Subscribtion</span><i class='bx bx-donate-blood font-24 d-sm-none'></i></a>
                </li>
                @*<li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Biography"><span class="p-tab-name">Profile</span><i class='bx bxs-user-rectangle font-24 d-sm-none'></i></a>
            </li>*@
            </ul>
            @foreach (var memberSubscribtion in Model.memberSubscribtions)
            {
                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="Subscribtion">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0"></h4>
                                    @*<p class="mb-0 ml-sm-3 text-muted">3 Job History</p> <a href="javascript:;" class="btn btn-primary ml-auto radius-10"><i class='bx bx-plus'></i> Add More</a>*@
                                </div>
                                <div class="media">
                                    <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
                                    <div class="media-body ml-3">
                                        <div class="row align-items-center">
                                            <div class="col-lg-3">
                                                <h5 class="mb-0">@memberSubscribtion.package_name</h5>
                                                <p class="mb-0">@memberSubscribtion.package_description</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5 class="text-muted mb-0"><i class='bx bx-time'></i> @memberSubscribtion.start_date.ToString().Split(' ')[0]</h5>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5 class="text-muted mb-0"><i class='bx bx-time'></i> @memberSubscribtion.due_date.ToString().Split(' ')[0]</h5>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5 class="text-muted mb-0"><i class='bx bx-alarm'></i> 
                                                @if (memberSubscribtion.is_expired)
                                                {<span class="badge badge-danger">Expired</span> }
                                                else
                                                { <span class="badge badge-success">Active</span>} 
                                                </h5>
                                            </div>
                                        </div>
                                        @if (!String.IsNullOrEmpty(memberSubscribtion.coach_name))
                                        {
                                            <div class="col-lg-4">
                                                <h5 class="text-muted mt-2">Coach: @memberSubscribtion.coach_name</h5>
                                            </div>
                                        }
                                        
                                        <hr />
                                        
                                        </div>
                                </div>
                                @if (!String.IsNullOrEmpty(memberSubscribtion.offer_name))
                                {
                                    
                                    <div class="media">
                                        <i class='bx bxs-diamond media-icons bg-warning'></i>
                                        <div class="media-body ml-3">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4">
                                                    <h5 class="mb-0">@memberSubscribtion.offer_name</h5>
                                                    <p class="mb-0">@memberSubscribtion.offer_description</p>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                }
                               
                                <div class="media">
                                    <i class='bx bxs-dollar-circle media-icons bg-warning'></i>
                                    <div class="media-body ml-3">
                                        <div class="row align-items-center">
                                            <div class="col-lg-4">
                                                <h5 class="mb-0 mt-3"> 
                                                    @if (memberSubscribtion.offer_id > 0)
                                                    {<span style="text-decoration: line-through;"> @memberSubscribtion.package_price &nbsp;</span>@memberSubscribtion.cost }
                                                else
                                                { @memberSubscribtion.cost}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
