﻿
@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @if (TempData["errorMessage"] != null)
    {
        <div class="alert bg-danger text-white alert-dismissible fade show" role="alert">
            @TempData["errorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
      
    }

    <form action="/Profile/Index" method="get">
        <div class="form-group">
            <label>Code</label>
            <input type="password" autocomplete="off" class="form-control" id="code" name="code" />
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" id="search" />
        </div>
    </form>
</div>

@section scripts
{
    <script>
        $("#code").focus();
    </script>
}
