﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (healthyGym.Auth.can.accessDashboard())
{
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="d-flex mb-2">
                        <div>
                            <p class="mb-0 font-weight-bold">Subscribtions</p>
                            <h2 class="mb-0" id="subscribtionSum"></h2>
                        </div>
                        <div class="ml-auto align-self-end">
                            <p class="mb-0 font-14 text-primary">
                                <i class='bx bxs-up-arrow-circle'></i>  <span id="subscribtionAverage"></span>
                            </p>
                        </div>
                    </div>
                    <div id="subscribtionChart"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="d-flex mb-2">
                        <div>
                            <p class="mb-0 font-weight-bold">Visitors</p>
                            <h2 class="mb-0" id="visitorSum"></h2>
                        </div>
                        <div class="ml-auto align-self-end">
                            <p class="mb-0 font-14 text-success">
                                <i class='bx bxs-up-arrow-circle'></i>  <span id="visitorAverage"></span>
                            </p>
                        </div>
                    </div>
                    <div id="visitorsChart"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="d-flex mb-2">
                        <div>
                            <p class="mb-0 font-weight-bold">Payments</p>
                            <h2 class="mb-0" id="paymentSum"></h2>
                        </div>
                        <div class="ml-auto align-self-end">
                            <p class="mb-0 font-14 text-danger">
                                <i class='bx bxs-down-arrow-circle'></i>   <span id="paymentAverage"></span>
                            </p>
                        </div>
                    </div>
                    <div id="paymentsChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card radius-15">
                <div class="card-body">
                    <div id="hassanChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card radius-15">
                <div class="card-body">
                    <div id="visitorChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card radius-15">
                <div class="card-body">
                    <div id="paymentChart"></div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
    $(function () {
        "use strict";
        // chart 1  hassanChart
        var SubscribtionChart = null;

        $.ajax({
            type: "GET",
            url: '@Url.Action("SubscribtionChart", "Statistics")',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                SubscribtionChart = data.data;
                $("#subscribtionSum").text(data.subscribtionSum);
                $("#subscribtionAverage").text(data.subscribtionAverage + " Average Per Month.");

                var options = {
                    series: [{
                        name: 'Subscribtions',
                        data: SubscribtionChart
                    }],
                    chart: {
                        foreColor: '#9ba7b2',
                        height: 400,
                        type: 'line',
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: true
                        },
                        dropShadow: {
                            enabled: true,
                            top: 3,
                            left: 14,
                            blur: 4,
                            opacity: 0.10,
                        }
                    },
                    stroke: {
                        width: 5,
                        curve: 'smooth'
                    },
                    xaxis: {
                        type: 'string',
                        categories: data.xAxis,
                    },
                    title: {
                        text: 'Subscribtions Chart ( Total: ' + data.subscribtionSum+ " | Average / Month: " + data.subscribtionAverage+")",
                        align: 'left',
                        style: {
                            fontSize: "16px",
                            color: '#666'
                        }
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            gradientToColors: ['#673ab7'],
                            shadeIntensity: 1,
                            type: 'horizontal',
                            opacityFrom: 1,
                            opacityTo: 1,
                            stops: [0, 100, 100, 100]
                        },
                    },
                    markers: {
                        size: 4,
                        colors: ["#673ab7"],
                        strokeColors: "#fff",
                        strokeWidth: 2,
                        hover: {
                            size: 7,
                        }
                    },
                    colors: ["#673ab7"],
                    yaxis: {
                        title: {
                            text: 'Subscribtions Count',
                        },
                    }
                };
                var chart = new ApexCharts(document.querySelector("#hassanChart"), options);
                chart.render();
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });

        // visitorChart
        var visitorChart = null;

        $.ajax({
            type: "GET",
            url: '@Url.Action("VisitorChart", "Statistics")',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                visitorChart = data.data;
                $("#visitorSum").text(data.visitorSum);
                $("#visitorAverage").text(data.visitorAverage + " Average Per Month.");

                var options = {
                    series: [{
                        name: 'Visitors',
                        data: visitorChart
                    }],
                    chart: {
                        foreColor: '#9ba7b2',
                        height: 400,
                        type: 'line',
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: true
                        },
                        dropShadow: {
                            enabled: true,
                            top: 3,
                            left: 14,
                            blur: 4,
                            opacity: 0.10,
                        }
                    },
                    stroke: {
                        width: 5,
                        curve: 'smooth'
                    },
                    xaxis: {
                        type: 'string',
                        categories: data.xAxis,
                    },
                    title: {
                        text: 'Visitors Chart ( Total: ' + data.visitorSum + " | Average / Month: " + data.visitorAverage+")",
                        align: 'left',
                        style: {
                            fontSize: "16px",
                            color: '#666'
                        }
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            gradientToColors: ['#673ab7'],
                            shadeIntensity: 1,
                            type: 'horizontal',
                            opacityFrom: 1,
                            opacityTo: 1,
                            stops: [0, 100, 100, 100]
                        },
                    },
                    markers: {
                        size: 4,
                        colors: ["#673ab7"],
                        strokeColors: "#fff",
                        strokeWidth: 2,
                        hover: {
                            size: 7,
                        }
                    },
                    colors: ["#673ab7"],
                    yaxis: {
                        title: {
                            text: 'Visitors Count',
                        },
                    }
                };
                var chart = new ApexCharts(document.querySelector("#visitorChart"), options);
                chart.render();
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });

        // paymentChart
        var paymentChart = null;

        $.ajax({
            type: "GET",
            url: '@Url.Action("PaymentChart", "Statistics")',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                paymentChart = data.data;
                $("#paymentSum").text(data.paymentSum);
                $("#paymentAverage").text(data.paymentAverage + " Average Per Month.");

                var options = {
                    series: [{
                        name: 'Payments',
                        data: paymentChart
                    }],
                    chart: {
                        foreColor: '#9ba7b2',
                        height: 400,
                        type: 'line',
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: true
                        },
                        dropShadow: {
                            enabled: true,
                            top: 3,
                            left: 14,
                            blur: 4,
                            opacity: 0.10,
                        }
                    },
                    stroke: {
                        width: 5,
                        curve: 'smooth'
                    },
                    xaxis: {
                        type: 'string',
                        categories: data.xAxis,
                    },
                    title: {
                        text: 'Payments Chart ( Total: ' + data.paymentSum + " | Average / Month: " + data.paymentAverage+")",
                        align: 'left',
                        style: {
                            fontSize: "16px",
                            color: '#666'
                        }
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            gradientToColors: ['#673ab7'],
                            shadeIntensity: 1,
                            type: 'horizontal',
                            opacityFrom: 1,
                            opacityTo: 1,
                            stops: [0, 100, 100, 100]
                        },
                    },
                    markers: {
                        size: 4,
                        colors: ["#673ab7"],
                        strokeColors: "#fff",
                        strokeWidth: 2,
                        hover: {
                            size: 7,
                        }
                    },
                    colors: ["#673ab7"],
                    yaxis: {
                        title: {
                            text: 'Payment Amount',
                        },
                    }
                };
                var chart = new ApexCharts(document.querySelector("#paymentChart"), options);
                chart.render();
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });

        // chart 2
        var options = {
            series: [{
                name: 'Impressions',
                data: [1, 23, 33]
            }],
            chart: {
                type: 'area',
                height: 80,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                },
                dropShadow: {
                    enabled: true,
                    top: 3,
                    left: 14,
                    blur: 4,
                    opacity: 0.12,
                    color: '#32ab13',
                },
                sparkline: {
                    enabled: true
                }
            },
            markers: {
                size: 0,
                colors: ["#32ab13"],
                strokeColors: "#fff",
                strokeWidth: 2,
                hover: {
                    size: 7,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 3,
                curve: 'smooth'
            },
            colors: ["#32ab13"],
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                theme: 'dark',
                fixed: {
                    enabled: false
                },
                x: {
                    show: false
                },
                y: {
                    title: {
                        formatter: function (seriesName) {
                            return ''
                        }
                    }
                },
                marker: {
                    show: false
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#subscribtionChart"), options);
        chart.render();
        // chart 2
        var options = {
            series: [{
                name: 'Impressions',
                data: [1, 23, 33]
            }],
            chart: {
                type: 'area',
                height: 80,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                },
                dropShadow: {
                    enabled: true,
                    top: 3,
                    left: 14,
                    blur: 4,
                    opacity: 0.12,
                    color: '#32ab13',
                },
                sparkline: {
                    enabled: true
                }
            },
            markers: {
                size: 0,
                colors: ["#32ab13"],
                strokeColors: "#fff",
                strokeWidth: 2,
                hover: {
                    size: 7,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 3,
                curve: 'smooth'
            },
            colors: ["#32ab13"],
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                theme: 'dark',
                fixed: {
                    enabled: false
                },
                x: {
                    show: false
                },
                y: {
                    title: {
                        formatter: function (seriesName) {
                            return ''
                        }
                    }
                },
                marker: {
                    show: false
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#visitorsChart"), options);
        chart.render();
        // chart 3
        var options = {
            series: [{
                name: 'Engagement',
                data: [427, 613, 901, 257, 505, 414, 671, 160, 440]
            }],
            chart: {
                type: 'area',
                height: 80,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                },
                dropShadow: {
                    enabled: true,
                    top: 3,
                    left: 14,
                    blur: 4,
                    opacity: 0.12,
                    color: '#f02769',
                },
                sparkline: {
                    enabled: true
                }
            },
            markers: {
                size: 0,
                colors: ["#f02769"],
                strokeColors: "#fff",
                strokeWidth: 2,
                hover: {
                    size: 7,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 3,
                curve: 'smooth'
            },
            colors: ["#f02769"],
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                theme: 'dark',
                fixed: {
                    enabled: false
                },
                x: {
                    show: false
                },
                y: {
                    title: {
                        formatter: function (seriesName) {
                            return ''
                        }
                    }
                },
                marker: {
                    show: false
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#paymentsChart"), options);
        chart.render();
        // chart 4
        var options = {
            series: [{
                name: 'New Visitors',
                data: [94, 55, 57, 56, 61, 58, 63, 60, 66, 75]
            }, {
                name: 'Returning Visitors',
                data: [-76, -85, -101, -98, -87, -105, -91, -114, -94, -105]
            }],
            chart: {
                foreColor: '#9a9797',
                type: 'bar',
                height: 350,
                stacked: true,
                toolbar: {
                    show: false
                },
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '12%',
                    endingShape: 'rounded'
                },
            },
            legend: {
                position: 'top',
                horizontalAlign: 'left',
                offsetX: -20
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            colors: ["#6236af", "#f02769"],
            xaxis: {
                categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            },
            fill: {
                opacity: 1
            },
            grid: {
                show: true,
                borderColor: '#ededed',
                strokeDashArray: 4,
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        height: 310,
                    },
                    plotOptions: {
                        bar: {
                            columnWidth: '30%'
                        }
                    }
                }
            }]
        };
        var chart = new ApexCharts(document.querySelector("#chart4"), options);
        chart.render();
        // chart 5
        var options = {
            series: [25, 65, 10],
            chart: {
                height: 240,
                type: 'donut',
            },
            legend: {
                position: 'bottom',
                show: false,
            },
            plotOptions: {
                pie: {
                    // customScale: 0.8,
                    donut: {
                        size: '80%'
                    }
                }
            },
            colors: ["#f02769", "#673ab7", "#ffc107"],
            dataLabels: {
                enabled: false
            },
            labels: ['Mobile', 'Desktop', 'Tablet'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        height: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };
        var chart = new ApexCharts(document.querySelector("#chart5"), options);
        chart.render();
        // chart 5
        var options = {
            series: [25, 65, 10],
            chart: {
                height: 360,
                type: 'pie',
            },
            legend: {
                position: 'bottom',
                show: true,
            },
            plotOptions: {
                pie: {
                    customScale: 0.9,
                    donut: {
                        size: '80%'
                    }
                }
            },
            colors: ["#198fed", "#673ab7", "#ffc107"],
            dataLabels: {
                enabled: true
            },
            labels: ['Male', 'Female', 'Others'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        height: 360
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };
        var chart = new ApexCharts(document.querySelector("#chart6"), options);
        chart.render();
        jQuery('#geographic-map').vectorMap({
            map: 'world_mill_en',
            backgroundColor: 'transparent',
            borderColor: '#818181',
            borderOpacity: 0.25,
            borderWidth: 1,
            zoomOnScroll: false,
            color: '#009efb',
            regionStyle: {
                initial: {
                    fill: '#673ab7'
                }
            },
            markerStyle: {
                initial: {
                    r: 9,
                    'fill': '#fff',
                    'fill-opacity': 1,
                    'stroke': '#000',
                    'stroke-width': 5,
                    'stroke-opacity': 0.4
                },
            },
            enableZoom: true,
            hoverColor: '#009efb',
            markers: [{
                latLng: [21.00, 78.00],
                name: 'I Love My India'
            }],
            hoverOpacity: null,
            normalizeFunction: 'linear',
            scaleColors: ['#b6d6ff', '#005ace'],
            selectedColor: '#c9dfaf',
            selectedRegions: [],
            showTooltip: true,
            onRegionClick: function (element, code, region) {
                var message = 'You clicked "' + region + '" which has the code: ' + code.toUpperCase();
                alert(message);
            }
        });
    });
    </script>
}