﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_invite_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>Member</label>
                                @Html.DropDownList("member_id", new SelectList(ViewBag.members, "id", "full_name"), "Select Member", new { @class = "form-control", @name = "member_id", @id = "member_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Name</label>
                                <input required name="invitee_name" id="invitee_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <input type="text" name="phone" id="phone" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Address</label>
                                <input type="text" name="address" id="address" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Notes</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Invite</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Invites</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_invite">Add Invite</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            @*<div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
                </div>
                <div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
                </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div>
    <div class="alert bg-danger text-white alert-dismissible fade show" role="alert" id="errorDiv" style="display:none;">
        <span id="errorMsg"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="inviteTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Ivitee Data</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#inviteTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Invite")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "code",
                            "searchable": true
                        },
                        {
                            "data": "member_name",
                            "searchable": true
                        },
                        {
                            "data": "invitee_name", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.invitee_name)
                                    html += "<b>Name:</b> " + oData.invitee_name;
                                if (oData.phone)
                                    html += "<br/><b>Phone:</b> "+oData.phone;
                                if (oData.address)
                                    html += "<br/><b>Address:</b> " + oData.address;
                                if (oData.created_at) {
                                    var num = parseInt(oData.created_at.replace(/[^0-9]/g, ""));
                                    var date = new Date(num);
                                    html += "<br/><b>Date:</b> " + date.toDateString();
                                }
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' id='" + oData.id + "' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='delete' id='" + oData.id + "' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                //datatable.columns(0).search($("#date-form").val());
                //datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

           $("#add_invite").click(function () {
                var modal = $('#manage_invite_modal').clone();
                var action = '@Url.Action("saveInvite", "Invite")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Add Invite');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        if (response.status == true)
                            datatable.draw();
                        else {
                            $("#errorDiv").show();
                            $("#errorMsg").text(response.message);
                        }

                }, function (response) {

                }, function (dialog) {

                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_invite_modal').clone();
                var action = '@Url.Action("saveInvite", "Invite")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Branch');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#id').val(data.id);
                        dialog.find('#invitee_name').val(data.invitee_name);
                        dialog.find('#address').val(data.address);
                        dialog.find('#phone').val(data.phone);
                        dialog.find('#note').val(data.note);
                        dialog.find('#member_id option[value=' + data.member_id + ']').attr('selected', 'selected');

                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this invitation ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteInvite", "Invite")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}



