﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Category</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Categories</li>
            </ol>
        </nav>
    </div>
    @*<div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_offer">Add Offer</a>
            </div>
        </div>
    </div>*@
</div>

<!--end breadcrumb-->
<div class="card">
    <div class="card-body">
        <div class="row">

            @foreach (var cat in ViewBag.categories)
            {
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="card">
                        @*<img src="@cat.image" class="card-img-top" alt="...">*@
                        <div class="card-body">
                            <a href="/ProductList/Index/@cat.id"><h5 class="card-title">@cat.name</h5></a>
                            <p class="card-text">@cat.description</p>
                        </div>
                        @*<ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                                <a href="javascript:;" class="card-link">Card link</a>
                                <a href="javascript:;" class="card-link">Another link</a>
                            </div>*@

                    </div>
                </div>
            }
        </div>
    </div>
</div>

