﻿@model List<healthyGym.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "showCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalPerProduct = 0;
    var totalPrice = 0;
    var totalQuantity = 0;
}
    <div class="modal fade" id="pay_with_wallet" tabindex="-1" role="dialog" aria-hidden="true">
        <form action="@Url.Action("makeOrder", "Order")" method="post" enctype='multipart/form-data'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title">Pay With Wallet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Code <span class="badge badge-info" id="total_credit"></span></label>
                                    <input required name="code" id="code" type="text" class="form-control radius-30" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Name</label>
                                    <input disabled name="name" id="name" type="text" class="form-control radius-30" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Pay</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
 


    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">Cart</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Order")">Categories</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </nav>
        </div>
      
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <!--end breadcrumb-->
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>One Piece Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th></th>
                    </tr>
                    <tbody>
                        @foreach (var cart in Model)
                        {
                            totalPerProduct = Convert.ToInt32(cart.price) * Convert.ToInt32(cart.quantity);
                            totalPrice += totalPerProduct;
                            totalQuantity += Convert.ToInt32(cart.quantity);
                            <tr>
                                <td>@cart.id</td>
                                <td>@cart.name</td>
                                <td>@cart.price</td>
                                <td>@cart.quantity</td>
                                <td>@totalPerProduct</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"><b>Total</b></td>
                            @*<td></td>
                                <td></td>*@
                            <td>@totalQuantity</td>
                            <td>@totalPrice</td>
                            <td><button data-toggle="modal" data-target="#pay_with_wallet" class="btn btn-primary">Submit</button>&nbsp;<a href="@Url.Action("cancelOrder", "Order")" id="cancel" class="btn btn-danger">Cancel</a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
@section scripts{
<script>

    $("#code").change(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("getNameAndCredit", "Order")',
            contentType: "application/json; charset=utf-8",
            data: { "code": $(this).val() },
            datatype: "json",
            success: function (data) {
                $('#name').val(data.name);
                $('#total_credit').text(data.credit);
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    });
</script>
}
