﻿@using healthyGym.Enums;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var male_id = (int)Gender.Male;
    var female_id = (int)Gender.Female;
}

<div class="modal fade" id="manage_member_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" id="member_form" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-12">
                                <center><label><img src="~/Content/assets/images/userProfile.png" width="150" height="150" id="imageProfile" class="rounded-circle shadow" alt="" /></label></center>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Full Name</label>
                                <input required name="full_name" id="full_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Code <small id="code_error" style="display:none;" class="badge badge-danger"> <i class="lni lni-close"></i> invaild code</small><small id="code_valid" class="badge badge-success" style="display:none;"><i class="lni lni-checkmark"></i> valid code</small></label>
                                <input required name="code" id="code" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Email</label>
                                <input type="text" name="email" id="email" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Phone1</label>
                                <input type="number" name="phone1" id="phone1" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Phone2</label>
                                <input type="number" name="phone2" id="phone2" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Address1</label>
                                <input type="text" name="address1" id="address1" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Address2</label>
                                <input type="text" name="address2" id="address2" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>BirthDate</label>
                                <input type="date" name="birthDate" id="birthDate" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Gender</label>
                                <select name="gender" id="gender" class="form-control radius-30">
                                    <option value="@male_id">@Gender.Male</option>
                                    <option value="@female_id">@Gender.Female</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Status</label>
                                <select class="form-control" name="active" id="active">
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="image" name="image" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>

                            @*----------------------------------------------------------------*@
                            <input type="hidden" name="subscribtion_id" id="subscribtion_id" value="0" />
                            <input type="datetime" style="display:none;" name="subscribtion_datetime" id="subscribtion_datetime" />
                            <input type="hidden" name="package_month" id="package_month" class="form-control radius-30" />

                            <div class="form-group col-md-6">
                                <label>Cost</label>
                                <input readonly type="number" name="package_price" id="package_price" class="form-control radius-30" />
                            </div>

                            <div class="form-group col-md-6">
                                <label>Note</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Start Date(Month/Day/Year)</label>
                                <input type="date" name="start_date" id="start_date" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Due Date(Month/Day/Year)</label>
                                <input type="date" name="due_date" id="due_date" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Package</label>
                                @Html.DropDownList("package_id", new SelectList(ViewBag.packages, "id", "name"), "Select Package", new { @class = "form-control", @name = "package_id", @id = "package_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Offer</label>
                                @Html.DropDownList("offer_id", new SelectList(ViewBag.offers, "id", "name"), "Select Offer", new { @class = "form-control", @name = "offer_id", @id = "offer_id" })
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="save">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="renew_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" id="member_form" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id_renew" value="0" />
                            
                            @*----------------------------------------------------------------*@
                            <input type="hidden" name="subscribtion_id" id="subscribtion_id_renew" value="0" />
                            <input type="datetime" style="display:none;" name="subscribtion_datetime" id="subscribtion_datetime_renew" />
                            <input type="hidden" name="package_month" id="package_month_renew" class="form-control radius-30" />

                            <div class="form-group col-md-12">
                                <label>Cost</label>
                                <input readonly type="number" name="package_price" id="package_price_renew" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Note</label>
                                <input type="text" name="note" id="note_renew" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Start Date(Month/Day/Year)</label>
                                <input type="date" name="start_date" id="start_date_renew" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Due Date(Month/Day/Year)</label>
                                <input type="date" name="due_date" id="due_date_renew" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Package</label>
                                @Html.DropDownList("package_id", new SelectList(ViewBag.packages, "id", "name"), "Select Package", new { @class = "form-control", @name = "package_id", @id = "package_id_renew", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Offer</label>
                                @Html.DropDownList("offer_id", new SelectList(ViewBag.offers, "id", "name"), "Select Offer", new { @class = "form-control", @name = "offer_id", @id = "offer_id_renew" })
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Member</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Member")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Members</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_member">Add Member</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            @*<div class="form-group col-4">
                <select id="sub_filter" name="sub_filter" class="form-control">
                    <option value="1">Valid</option>
                    <option value="2">Expired</option>
                </select>
            </div>*@
            @*<div class="form-group col-2">
            <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
        </div>
        <div class="form-group col-2">
            <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
        </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="memberTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Information</th>
                        <th>Subscription</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#memberTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Member")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "full_name", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {

                                var html = "<a target='_blank' href='/Profile/Index?code=" + oData.code + "'>" + oData.full_name + "</a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "code",
                            "searchable": true
                        },
                        {
                            "data": "phone1", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span> ";
                                if (oData.phone1 || oData.phone2) {
                                    html += "<b>Phone: </b>";
                                    if (oData.phone1)
                                        html += oData.phone1;
                                    //if (oData.phone2)
                                    //    html += "<br/><b>Secondary Phone: </b> " + oData.phone2;
                                }
                                if (oData.address1 || oData.address2) {
                                    html += "<br/><b>Address: </b>";
                                    if (oData.address1)
                                        html += oData.address1;
                                    //if (oData.address2)
                                    //    html += "<br/><b>Secondary Address: </b> " + oData.address2;
                                }
                                //if (oData.email)
                                //    html += "<br/><b>Email: </b>" + oData.email;
                                //if (oData.gender) {
                                //    if (oData.gender == 1)
                                //        html += "<br/><b>Gender: </b>Male";
                                //    else if (oData.gender == 2)
                                //        html += "<br/><b>Gender: </b>Female";
                                //}
                                //if (oData.created_by)
                                //    html += "<br/><b>Created By: </b>" + oData.created_by;
                                //if (oData.active == 1)
                                //    html += "<br/><b>Active:</b> Yes";
                                //else
                                //    html += "<br/><b>Active:</b> No";

                                html += "</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "subscribtion_id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {

                                var html = "";
                                if (oData.subscribtionViewModel) {
                                    if (oData.subscribtionViewModel.package_name)
                                        html += "<b>Package: </b><span>" + oData.subscribtionViewModel.package_name + "</span>";
                                    //if (oData.subscribtionViewModel.package_price)
                                    //    html += "</br><b>Pice: </b><span>" + oData.subscribtionViewModel.package_price + "LE</span>";
                                    //if (oData.subscribtionViewModel.package_month)
                                    //    html += "</br><b>Month: </b><span>" + oData.subscribtionViewModel.package_month + "</span>";
                                    //if (oData.subscribtionViewModel.offer_name)
                                    //    html += "<hr><b>Offer: </b><span>" + oData.subscribtionViewModel.offer_name + "</span>";
                                    //if (oData.subscribtionViewModel.package_month)
                                    //    html += "</br><b>Months: </b><span>" + oData.subscribtionViewModel.package_month + "</span>";
                                    //if (oData.subscribtionViewModel.offer_amount) {
                                    //    if (oData.subscribtionViewModel.offer_type == 1)
                                    //        html += "</br><b>Offer Amount: </b><span>" + oData.subscribtionViewModel.offer_amount + "%</span>";
                                    //    else
                                    //        html += "</br><b>Offer Amount: </b><span>" + oData.subscribtionViewModel.offer_amount + "LE</span>";
                                    //}
                                    //if (oData.subscribtionViewModel.start_date_string)
                                    //    html += "<hr><b>From: </b><span>" + oData.subscribtionViewModel.start_date_string.split(' ')[0] + "</span>";
                                    //if (oData.subscribtionViewModel.due_date_string)
                                    //    html += "</br><b>To: </b><span>" + oData.subscribtionViewModel.due_date_string.split(' ')[0] + "</span>";
                               
                                    html += "<br><b>Paid: </b>";
                                    if (oData.subscribtionViewModel.offer_id > 0)
                                        html += "<span style='text-decoration: line-through;'>" + addCommas(oData.subscribtionViewModel.package_price.toFixed(2)) + "</span>&nbsp;";
                                    if (oData.subscribtionViewModel.cost)
                                        html += addCommas(oData.subscribtionViewModel.cost.toFixed(2)) + "LE";

                                }
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },                   
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' id='" + oData.id + "' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='renew' id='" + oData.id + "' href='javascript:void(0)' title='Renew'><i class='fadeIn animated bx bx-revision'></i></a>&nbsp;";
                                html += "<a class='delete' id='" + oData.id + "' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#sub_filter").val());
                //datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");
                $("#sub_filter").val("1");
                $('#search').trigger('click');

            });

            //$('#date-form').bootstrapMaterialDatePicker({
            //    time: false
            //});

            //$('#date-to').bootstrapMaterialDatePicker({
            //    time: false
            //});

           $("#add_member").click(function () {
               var modal = $('#manage_member_modal').clone();
                var action = '@Url.Action("saveMember", "Member")';
                modal.find('form').attr('action', action);
               modal.find('#modal_title').text('Add Member');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#save').prop('disabled', true);

                         //code
                        $(document).on('change', '#image', function (event) {

                            var reader = new FileReader();
                            reader.onload = function () {
                                dialog.find('#imageProfile').attr('src', reader.result);
                            };
                            reader.readAsDataURL(event.target.files[0]);

                        });

                        $(document).on('keyup', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCodeAvailability", "Member")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }


                        });

                        //Subsription
                        //-----------------------------------------------------------------------------
                        $(document).on('change', '#package_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : new Date();

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data.data);
                                    dialog.find('#package_price').val(data.data);
                                },
                                error: function () {
                                    alert("Dynamic content load failed.");
                                }
                            });
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (data) {
                                    var value = new Date
                                        (
                                            parseInt(data.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                       });

                        $(document).on('change', '#offer_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data.data);
                                    dialog.find('#package_price').val(data.data);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                        });

                        $(document).on('change', '#start_date', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : 0;
                            console.log(start_date);
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data.data);
                                    var value = new Date
                                        (
                                            parseInt(data.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                       });

                });
            });

           $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_member_modal').clone();
                var action = '@Url.Action("saveMember", "Member")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Member');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                        dialog.find('#id').val(data.id);
                        dialog.find('#full_name').val(data.full_name);
                        dialog.find('#code').val(data.code);
                        dialog.find('#email').val(data.email);
                        dialog.find('#phone1').val(data.phone1);
                        dialog.find('#phone2').val(data.phone2);
                        dialog.find('#address1').val(data.address1);
                        dialog.find('#address2').val(data.address2);
                        dialog.find('#gender').val(data.gender);
                        if (data.birthDate != null) {
                        var value = new Date
                            (
                                parseInt(data.birthDate.replace(/(^.*\()|([+-].*$)/g, ''))
                            );
                        var date_birthDate = value.getFullYear() +
                            "-" +
                            ("0" + (value.getMonth() + 1)).slice(-2) +
                            "-" +
                            ("0" + value.getDate()).slice(-2)
                            ;
                            dialog.find('#birthDate').val(date_birthDate);
                        }
                        dialog.find('#image').val(data.image);
                        dialog.find('#imageProfile').attr('src', data.imagePath);
                        //dialog.find('#gym_id option[value=' + data.gym_id + ']').attr('selected', 'selected');
                        //dialog.find('#branch_id option[value=' + data.branch_id + ']').attr('selected', 'selected');
                        dialog.find('#gender option[value=' + data.gender + ']').attr('selected', 'selected');
                        dialog.find('#active option[value=' + data.active + ']').attr('selected', 'selected');

                        $(document).on('change', '#image', function (event) {

                            var reader = new FileReader();
                            reader.onload = function () {
                                dialog.find('#imageProfile').attr('src', reader.result);
                            };
                            reader.readAsDataURL(event.target.files[0]);

                        });
                         //code
                        $(document).on('keyup', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCodeAvailability", "Member")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {
                                        console.log(json.message);
                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }
                        });

                        //Subsription
                        //-----------------------------------------------------------------------------
                        if (data.subscribtionViewModel) {
                            if (data.subscribtionViewModel.subscribtion_datetime) {
                                var subscribtion_datetime = moment(data.subscribtionViewModel.subscribtion_datetime.toString()).format('yyyy-MM-DD HH:mm:ss');
                                dialog.find('#subscribtion_datetime').val(subscribtion_datetime);
                            }
                            if (data.subscribtionViewModel.subscribtion_id)
                                dialog.find('#subscribtion_id').val(data.subscribtionViewModel.subscribtion_id);
                            if (data.subscribtionViewModel.package_month)
                                dialog.find('#package_month').val(data.subscribtionViewModel.package_month);
                            if (data.subscribtionViewModel.cost)
                                dialog.find('#package_price').val(data.subscribtionViewModel.cost);
                            if (data.subscribtionViewModel.note)
                                dialog.find('#note').val(data.subscribtionViewModel.note);

                            var value = new Date
                                (
                                    parseInt(data.subscribtionViewModel.start_date.replace(/(^.*\()|([+-].*$)/g, ''))
                                );
                            var date_start_date = value.getFullYear() +
                                "-" +
                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                "-" +
                                ("0" + value.getDate()).slice(-2)
                                ;
                            dialog.find('#start_date').val(date_start_date);

                            var value = new Date
                                (
                                    parseInt(data.subscribtionViewModel.due_date.replace(/(^.*\()|([+-].*$)/g, ''))
                                );
                            var date_due_date = value.getFullYear() +
                                "-" +
                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                "-" +
                                ("0" + value.getDate()).slice(-2)
                                ;
                            dialog.find('#due_date').val(date_due_date);

                            dialog.find('#package_id option[value=' + data.subscribtionViewModel.package_id + ']').attr('selected', 'selected');
                            dialog.find('#offer_id option[value=' + data.subscribtionViewModel.offer_id + ']').attr('selected', 'selected');
                            //dialog.find('#is_active option[value=' + data.subscribtionViewModel.is_active + ']').attr('selected', 'selected');
                        }
                        $(document).on('change', '#package_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);
                                    dialog.find('#package_price').val(json.data);

                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (json) {
                                    var value = new Date
                                        (
                                            parseInt(json.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                       });

                        $(document).on('change', '#offer_id', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id option:selected').val().length != 0 ? dialog.find('#offer_id option:selected').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);
                                    console.log(data.cost);
                                    dialog.find('#package_price').val(json.data);

                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                        });

                        $(document).on('change', '#start_date', function () {
                            var package_id = dialog.find('#package_id option:selected').val().length != 0 ? dialog.find('#package_id option:selected').val() : 0;
                            var start_date = dialog.find('#start_date').val().length != 0 ? dialog.find('#start_date').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);

                                    var value = new Date
                                        (
                                            parseInt(json.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                       });

                });

            });

           $(document).on("click", ".renew", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#renew_modal').clone();
                var action = '@Url.Action("renewSubscription", "Member")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Renew Subscription');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                        dialog.find('#id_renew').val(data.id);

                        //Subsription
                        //-----------------------------------------------------------------------------
                        if (data.subscribtionViewModel) {
                            if (data.subscribtionViewModel.subscribtion_datetime) {
                                var subscribtion_datetime = moment(data.subscribtionViewModel.subscribtion_datetime.toString()).format('yyyy-MM-DD HH:mm:ss');
                                dialog.find('#subscribtion_datetime_renew').val(subscribtion_datetime);
                            }
                            if (data.subscribtionViewModel.subscribtion_id)
                                dialog.find('#subscribtion_id_renew').val(data.subscribtionViewModel.subscribtion_id);
                            if (data.subscribtionViewModel.package_month)
                                dialog.find('#package_month_renew').val(data.subscribtionViewModel.package_month);
                            if (data.subscribtionViewModel.cost)
                                dialog.find('#package_price_renew').val(data.subscribtionViewModel.cost);
                            if (data.subscribtionViewModel.note)
                                dialog.find('#note_renew').val(data.subscribtionViewModel.note);

                            var value = new Date
                                (
                                    parseInt(data.subscribtionViewModel.due_date.replace(/(^.*\()|([+-].*$)/g, ''))
                                );
                            var date_start_date = value.getFullYear() +
                                "-" +
                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                "-" +
                                ("0" + value.getDate()).slice(-2)
                                ;
                            dialog.find('#start_date_renew').val(date_start_date);
                            //console.log(parseInt(data.subscribtionViewModel.package_month));
                            var value = new Date
                                (
                                    parseInt(data.subscribtionViewModel.due_date.replace(/(^.*\()|([+-].*$)/g, ''))
                            );
                            var months = (value.getMonth() + 1 + parseInt(data.subscribtionViewModel.package_month)) % 12;
                            
                            var years = (value.getMonth() + 1 + parseInt(data.subscribtionViewModel.package_month)) > 12 ? (value.getFullYear() + 1) : value.getFullYear(); 
                            var date_due_date = years +
                                "-" +
                                ("0" + (months)).slice(-2) +
                                "-" +
                                ("0" + value.getDate()).slice(-2)
                                ;
                            dialog.find('#due_date_renew').val(date_due_date);

                            dialog.find('#package_id_renew option[value=' + data.subscribtionViewModel.package_id + ']').attr('selected', 'selected');
                            dialog.find('#offer_id_renew option[value=' + data.subscribtionViewModel.offer_id + ']').attr('selected', 'selected');
                            //dialog.find('#is_active option[value=' + data.subscribtionViewModel.is_active + ']').attr('selected', 'selected');
                        }
                        $(document).on('change', '#package_id_renew', function () {
                            var package_id = dialog.find('#package_id_renew option:selected').val().length != 0 ? dialog.find('#package_id_renew option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id_renew option:selected').val().length != 0 ? dialog.find('#offer_id_renew option:selected').val() : 0;
                            var start_date = dialog.find('#start_date_renew').val().length != 0 ? dialog.find('#start_date_renew').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);
                                    dialog.find('#package_price_renew').val(json.data);

                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (json) {
                                    var value = new Date
                                        (
                                            parseInt(json.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date_renew').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                       });

                        $(document).on('change', '#offer_id_renew', function () {
                            var package_id = dialog.find('#package_id_renew option:selected').val().length != 0 ? dialog.find('#package_id_renew option:selected').val() : 0;
                            var offer_id = dialog.find('#offer_id_renew option:selected').val().length != 0 ? dialog.find('#offer_id_renew option:selected').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getCost", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "offer_id": offer_id },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);
                                    console.log(data.cost);
                                    dialog.find('#package_price_renew').val(json.data);

                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                        });

                        $(document).on('change', '#start_date_renew', function () {
                            var package_id = dialog.find('#package_id_renew option:selected').val().length != 0 ? dialog.find('#package_id_renew option:selected').val() : 0;
                            var start_date = dialog.find('#start_date_renew').val().length != 0 ? dialog.find('#start_date_renew').val() : 0;

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("calculateDueDate", "Subscribtion")',
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    "package_id": package_id, "start_date": start_date },
                                datatype: "json",
                                success: function (json) {
                                    console.log(json.data);

                                    var value = new Date
                                        (
                                            parseInt(json.data.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var date_due_date = value.getFullYear() +
                                        "-" +
                                        ("0" + (value.getMonth() + 1)).slice(-2) +
                                        "-" +
                                        ("0" + value.getDate()).slice(-2)
                                        ;
                                    dialog.find('#due_date_renew').val(date_due_date);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });

                       });

                });

            });


            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this member (<b>" + data.name +"</b>) ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteMember", "Member")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}

