﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_offer_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-12">
                                <label>Name</label>
                                <input required name="name" id="name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Description</label>
                                <input type="text" name="description" id="description" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Note</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Discount Percentage</label>
                                <input type="number" required name="discount_amount" id="discount_amount" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Status</label>
                                <select required class="form-control" name="offer_type" id="offer_type">
                                    <option value="1">Percentage</option>
                                    <option value="2">Amount</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Due Date(Month/Day/Year)</label>
                                <input type="date" name="due_date" id="due_date" class="form-control radius-30" />
                            </div>
                            
                            <div class="form-group col-md-6" id="package_div">
                                <label>Package</label>
                                @Html.DropDownList("package_id", new SelectList(ViewBag.packages, "id", "name"), "Select Package", new { @class = "form-control", @name = "package_id", @id = "package_id" })
                            </div>
                            @*<div class="form-group col-md-12">
                                <label>Branch</label>
                                @Html.DropDownList("branch_id", new SelectList(ViewBag.branches, "id", "name"), "Select Branch", new { @class = "form-control", @name = "branch_id", @id = "branch_id", @required = "required" })
                            </div>*@
                            <div class="form-group col-md-6">
                                <label>Status</label>
                                <select class="form-control" name="is_active" id="is_active">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Offer</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Offers</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_offer">Add Offer</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            @*<div class="form-group col-2">
                <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
            </div>
            <div class="form-group col-2">
                <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
            </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="offerTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Note</th>
                        <th>Discount</th>
                        <th>Due Date</th>
                        @*<th>Branch Name</th>*@
                        <th>Created By</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#offerTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Offer")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "name",
                            "searchable": true
                        },
                        {
                            "data": "description",
                            "searchable": true
                        },
                        {
                            "data": "note",
                            "searchable": true
                        },
                        {
                            "data": "discount_amount", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = oData.discount_amount;
                                if (oData.offer_type == 1)
                                    html += " %";
                                else
                                    html += " $";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "due_date", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var num = parseInt(oData.due_date.replace(/[^0-9]/g, ""));
                                var date = new Date(num);

                                var html = date.toDateString();
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        //{
                        //    "data": "branch_name",
                        //    "searchable": true
                        //},
                        {
                            "data": "user_name",
                            "searchable": true
                        },
                        {
                            "data": "is_active", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.is_active == true)
                                    html += "<span class='badge badge-primary'>Yes</span>";
                                else
                                    html += "<span class='badge badge-danger'>No</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' id='" + oData.id + "' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='delete' id='" + oData.id + "' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                //datatable.columns(0).search($("#date-form").val());
                //datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

            //$('#date-form').bootstrapMaterialDatePicker({
            //    time: false
            //});

            //$('#date-to').bootstrapMaterialDatePicker({
            //    time: false
            //});

         

           $("#add_offer").click(function () {
               var modal = $('#manage_offer_modal').clone();
                var action = '@Url.Action("saveOffer", "Offer")';
                modal.find('form').attr('action', action);
               modal.find('#modal_title').text('Add Offer');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        //$(document).on('change', '#apply_to_all_packages', function () {
                        //    console.log(dialog.find("#apply_to_all_packages").val());
                        //    if (dialog.find("#apply_to_all_packages").val() == true) {
                        //        dialog.find("#package_id").prop('disabled', true);
                        //        //dialog.find("#package_id").removeAttr('required');
                        //    } else {
                        //        dialog.find("#package_id").prop('disabled', false);

                        //        //dialog.find("#package_id").prop("required", true);
                        //    }
                        //    //alert(dialog.find("#apply_to_all_packages").val());

                        //});
                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_offer_modal').clone();
                var action = '@Url.Action("saveOffer", "Offer")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Offer');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                        dialog.find('#id').val(data.id);
                        dialog.find('#name').val(data.name);
                        dialog.find('#note').val(data.note);
                        dialog.find('#description').val(data.description);
                        //console.log(data.due_date);
                        //var date_due_date = new Date(parseInt(data.due_date.substr(6)));
                        //2021 - 08 - 07
                        if (data.due_date) {
                        var value = new Date
                            (
                                parseInt(data.due_date.replace(/(^.*\()|([+-].*$)/g, ''))
                            );
                        var date_due_date = value.getFullYear() +
                            "-" +
                            ("0" + (value.getMonth() + 1)).slice(-2)+
                            "-" +
                            ("0" + value.getDate()).slice(-2)
                            ;

                        //console.log(date_due_date);
                            dialog.find('#due_date').val(date_due_date);
                        }
                        dialog.find('#discount_amount').val(data.discount_amount);
                        dialog.find('#offer_type option[value=' + data.offer_type + ']').attr('selected', 'selected');
                        dialog.find('#package_id option[value=' + data.package_id + ']').attr('selected', 'selected');
                        //dialog.find('#branch_id option[value=' + data.branch_id + ']').attr('selected', 'selected');
                        dialog.find('#is_active option[value=' + data.is_active + ']').attr('selected', 'selected');

                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this offer (<b>" + data.name +"</b>) ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteOffer", "Offer")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}