﻿@model healthyGym.Models.QRModel
@{
    ViewBag.Title = "ActionQrCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" action="@Url.Action("ActionQrCode", "QrGenerate")">
    <div class="form-control">

        <div class="col-md-12">

            <div class="col-md-3">

                Enter Message:

            </div>

            <div class="col-md-3">

                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })

            </div>

        </div>

    </div>

    <br />

    <input type="submit" id="btnGenerate" value="Generate" class="btn btn-default" />

    <div class="col-md-3">

        <img src="@ViewBag.Url" width="800px" height="500px" alt="Alternate Text" />

    </div>

</form>
