﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Visit</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Visits</li>
            </ol>
        </nav>
    </div>
    
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            @*<div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
                </div>
                <div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
                </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="visitTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Joined At</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#visitTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Visit")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "full_name",
                            "searchable": true
                        },
                        {
                            "data": "code",
                            "searchable": true
                        },
                        {
                            "data": "email",
                            "searchable": true
                        },
                        {
                            "data": "phone1", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span class='badge badge-primary'> ";
                                if (oData.phone1 || oData.phone2) {
                                    if (oData.phone1)
                                        html += oData.phone1;
                                    if (oData.phone2)
                                        html += ", " + oData.phone2;
                                }
                                else
                                    html += "No Phone";
                                html += "</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "address1", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span> ";
                                if (oData.address1 || oData.address2) {
                                    if (oData.address1)
                                        html += oData.address1;
                                    if (oData.address2)
                                        html += ", " + oData.address2;
                                }
                                else
                                    html += "No Addresses";
                                html += "</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "gender", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "<span> ";
                                if (oData.gender) {
                                    if (oData.gender == 1)
                                        html += "Male";
                                    else if (oData.gender == 2)
                                        html += "Female";
                                }
                                else
                                    html += "No Gender Selected";
                                html += "</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "created_at",
                            "searchable": true
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                //datatable.columns(0).search($("#date-form").val());
                //datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

            //$('#date-form').bootstrapMaterialDatePicker({
            //    time: false
            //});

            //$('#date-to').bootstrapMaterialDatePicker({
            //    time: false
            //});
       });

    </script>
}

