﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_userCredit_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" onkeydown="return event.key != 'Enter';" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>Code <small id="code_error" style="display:none;" class="badge badge-danger"> <i class="lni lni-close"></i> wrong code</small><small id="code_valid" class="badge badge-success" style="display:none;"><i class="lni lni-checkmark"></i> valid code</small></label>
                                <input required name="code" id="code" autocomplete="off" autofocus type="password" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Name</label>
                                <input disabled name="full_name" id="full_name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Amount</label>
                                <input type="number" name="amount" id="amount" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Type</label>
                                <select class="form-control" name="credit_type" id="credit_type">
                                    <option value="1">Deposit</option>
                                    <option value="2">Withdraw</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Notes</label>
                                <input type="text" name="note" id="note" class="form-control radius-30" />
                            </div>
                            @*<div class="form-group col-md-12">
                                @Html.DropDownList("gym_id", new SelectList(ViewBag.gyms, "id", "name"), "Select Gym", new { @class = "form-control", @name = "gym_id", @id = "gym_id", @required = "required" })
                            </div>*@

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">User Credit</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index","Dashboard")"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Users Credit</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary bg-split-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <a class="dropdown-item" href="javascript:;" id="add_userCredit">Add User Credit</a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->

<div class="card radius-15">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-4">
                <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
            </div>
            @*<div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-form" placeholder="Date Picker...">
                </div>
                <div class="form-group col-2">
                    <input class="result form-control" type="text" id="date-to" placeholder="Date Picker...">
                </div>*@

            <div class="form-group col-2">
                <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
            </div>
            <div class="form-group col-2">
                <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table id="userCreditTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>Code</th>*@
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Created By</th>
                        <th>Note</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#userCreditTable')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "UserCredit")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        //{
                        //    "data": "code",
                        //    "searchable": true
                        //},
                        {
                            "data": "full_name",
                            "searchable": true
                        },
                        {
                            "data": "amount",
                            "searchable": true
                        },
                        {
                            "data": "credit_type", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                if (oData.credit_type == 1)
                                    $(nTd).html("<span class='action-column'> Deposit </span>");
                                else
                                    $(nTd).html("<span class='action-column'> Withdraw </span>");

                            }
                        },
                        { "data": "created_by", "searchable": true },
                        { "data": "note", "searchable": true },
                        //{
                        //    "data": "created_at", "searchable": true,
                        //    fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                        //        $(nTd).html("<span class='action-column'>" + oData.created_at.split(' ')[0] + "</span>");
                        //    }
                        //},
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' id='" + oData.id + "' href='javascript:void(0)' title='Edit'><i class='lni lni-pencil'></i></a>&nbsp;";
                                html += "<a class='delete' id='" + oData.id + "' href='javascript:void(0)' title='Delete'><i class='lni lni-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                //datatable.columns(0).search($("#date-form").val());
                //datatable.columns(1).search($("#date-to").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

            //$('#date-form').bootstrapMaterialDatePicker({
            //    time: false
            //});

            //$('#date-to').bootstrapMaterialDatePicker({
            //    time: false
            //});

           $("#add_userCredit").click(function () {
                var modal = $('#manage_userCredit_modal').clone();
                var action = '@Url.Action("saveUserCredit", "UserCredit")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Add User Credit');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                         //code
                        dialog.find("#code").prop('readonly', false);
                        dialog.find("#code").focus();
                        $(document).on('change', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            dialog.find("#code").prop('readonly', true);
                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCode", "UserCredit")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {

                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                            dialog.find('#full_name').val('');
                                            dialog.find('#full_name').val(json.full_name);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }
                        });

                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_userCredit_modal').clone();
                var action = '@Url.Action("saveUserCredit", "UserCredit")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit User Credit');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#id').val(data.id);
                        dialog.find('#code').val(data.code);
                        dialog.find('#amount').val(data.amount);
                        dialog.find('#credit_type').val(data.credit_type);
                        dialog.find('#note').val(data.note);
                        dialog.find('#full_name').val(data.full_name);
                        dialog.find('#note').val(data.note);
                        //dialog.find('#gym_id option[value=' + data.gym_id + ']').attr('selected', 'selected');
                        dialog.find("#code").prop('readonly', false);
                        dialog.find("#code").focus();
                        //code
                        $(document).on('change', '#code', function () {
                            var code = dialog.find('#code').val().length != 0 ? dialog.find('#code').val() : null;
                            dialog.find("#code").prop('readonly', true);

                            if (code != null) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("checkCode", "UserCredit")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        "code": code
                                    },
                                    datatype: "json",
                                    success: function (json) {

                                        if (json.is_valid == false) {
                                            dialog.find('#code_error').show();
                                            dialog.find('#code_valid').hide();
                                            dialog.find('#save').prop('disabled', true);

                                        }
                                        else {
                                            dialog.find('#code_error').hide();
                                            dialog.find('#code_valid').show();
                                            dialog.find('#save').prop('disabled', false);
                                            dialog.find('#full_name').val('');
                                            dialog.find('#full_name').val(json.full_name);

                                        }

                                    },
                                    error: function () {
                                        //alert("Dynamic content load failed.");
                                    }
                                });
                            } else {
                                dialog.find('#code_error').show();
                                dialog.find('#code_valid').hide();
                                dialog.find('#save').prop('disabled', true);
                            }
                        });


                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to delete this amount (<b>" + data.amount +"</b>) ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteUserCredit", "UserCredit")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}

